/* General styles for dropdowns */
.nav-dropdown-title {
  color: black;
  font-weight: 700;
}

.nav-dropdown-item {
  color: gray;
  font-weight: 400;
}

.nav-dropdown-item:hover {
  background-color: #343a40; /* Dark background */
  color: white; /* White text */
}

/* Hover effect for main dropdown */
.navbar .dropdown-menu {
  transition: all 0.3s ease;
}

.dropdown-item:hover {
  background-color: #343a40; /* Dark background */
  color: white; /* White text */
}

/* Ensure submenus are visible on hover */
.dropdown:hover > .dropdown-menu {
  display: block;
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease;
}

/* Dropdown styling for better appearance */
.dropdown-menu {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

.dropdown-menu .dropdown-item {
  padding: 10px;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #343a40; /* Dark background */
  color: white; /* White text */
}
